{{!< default}}

{{#if @member}}

<section class="hero">
<div class="hero-body">
<div class="container content app">
<div class="column is-half is-offset-one-quarter">
<div class="control has-addons">
<h2 class="title has-text-weight-medium has-text-centered">User Dashboard</h2>
<hr>
<p>Hey there 😍 <br>
<span class="has-text-weight-medium">✉ {{@member.email}}</span> is subscribed to free Get updates from {{@site.title}}
</p>
<p>you can Now Access our all Membership Only post and Free File Downloads</p>
<p>Get Free Email Updates Related to Tech, Blogging, Offers &amp; deals, Open Source, and Quotes</p>
<small>You can Unsubscribe/opt-out from Email Updates Anytime</small>
<hr>
<div class="table-container">
<table class="table">
<thead>
<tr>
<th>Your Registered Email-ID</th>
</tr>
</thead>
<tbody>
<tr>
<td><span class="has-text-weight-medium">{{@member.email}}</b></span></td>
</tr>
</tbody>
</table>
</div>
<blockquote>Dashboard under Construction - Some Features are in Beta Stage.</blockquote>
<p>For Any Feedback or Queries contact me at <b>santhoshveer@gmail.com</b></p>
<hr>
</div>
</div>
</div>
</section>

{{else}}

{{#page}}

<section class="section">
<div class="container content">
<div class="columns is-centered">
<div class="column is-half">
<article class="{{post_class}}">
<h1 class="title has-text-weight-medium has-text-centered">{{title}}</h1>
<hr>
<section class="post-content">
{{content}}
</section>
</article>
</div>
</div>
</div>
</section>

{{/page}}

{{/if}}
