{{!< default}}

{{#if @member}}

<section class="hero">
<div class="hero-body">
<div class="container content app">
<div class="column is-half is-offset-one-quarter">
<div class="control has-addons">
<h2 class="title has-text-weight-medium has-text-centered">User Dashboard</h2>
<hr>
{{#if @member.avatar_image}}
<div class="columns is-mobile is-centered">
<figure class="image is-128x128">
<img class="is-rounded" src="{{@member.avatar_image}}" />
</figure>
</div>
{{else}}
<div class="columns is-mobile is-centered">
<figure class="image is-128x128">
<img class="is-rounded" src="{{asset "icons/Icon-256.png"}}" />
</figure>
</div>
{{/if}}
<p>Hey there 😍 - Welcome</p>
<P><span class="has-text-weight-medium">✉ {{@member.email}}</span> is subscribed to free Get updates <br> from {{@site.title}}</P>
<p>you can Now Access our all Membership Only post and Free File Downloads</p>
<p>Get Free Email Updates Related to Tech, Blogging, Offers &amp; deals, Open Source, and Quotes</p>
<small>You can Unsubscribe/opt-out from Email Updates Anytime <br> Unsubscribe via newsletter Email</small>
<hr>
<div class="table-container">
<table class="table">
<thead>
<tr>
<th>Your Registered Email-ID</th>
</tr>
</thead>
<tbody>
<tr>
<td><span class="has-text-weight-medium">{{@member.email}}</b></span></td>
</tr>
</tbody>
</table>
</div>
<p>For Any Feedback and Queries or Account Deletion contact me at <b>santhoshveerblog@gmail.com</b></p>
<hr>
</div>
</div>
</div>
</section>

{{else}}

{{#page}}

<section class="section">
<div class="container content">
<div class="columns is-centered">
<div class="column is-half">
<article class="{{post_class}}">
<h1 class="title has-text-weight-medium has-text-centered">{{title}}</h1>
<hr>
<section class="post-content">
{{content}}
</section>
</article>
</div>
</div>
</div>
</section>

{{/page}}

{{/if}}
